.stamp {
  font-size: 11px;
  border: 3px double #f00;
  border-radius: 50%;
  color: #f00;
  width: 64px;
  height: 64px;
  position: relative;
  margin: auto;
  float: left;
}

.stamp span {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.stamp span:first-child::before {
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  margin: auto;
  width: 94%;
  border-bottom: 1px solid #f00;
  line-height: 1;
  padding-bottom: 3px;
}

.stamp span:first-child {
  line-height: 62px;
}

.stamp span:last-child {
  position: absolute;
  top: 38px;
  left: 0;
  right: 0;
  margin: auto;
  width: 98%;
  border-top: 1px solid #f00;
  padding-top: 2px;
  line-height: 1;
}

.stamp-syo_14 span:first-child::before {
  content: "承認";
  font-size: 14px;
}

.stamp-ket_14 span:first-child::before {
  content: "決裁";
  font-size: 14px;
}

.stamp-kan_14 span:first-child::before {
  content: "確認";
  font-size: 14px;
}

.stamp-sum_16 span:first-child::before {
  content: "済";
  font-size: 16px;
}